

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: Poppins Medium;
}
body{
  width:100%;
  height: auto;
  background: rgb(255, 255, 255);
}

.container{
  padding: 20px;
  transition: margin-left 0.3s;
}

.main-body{
    width: 100%;
    padding: 0rem;
  }

/*Welcome card*/
  .Welcome-card{
    padding-left: 30px;
  }
  .welcome-block{
    width: 90%;
    height: 13vh;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: #03071d;
  }
  .welcome-block h1, h3{
    text-align: left;
    margin: 10px;
  }

/*Forms*/
  .contact-faq-form{
    width:80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding: 2% 0 0 100px;
    gap: 25px;
}

/* Label styling */
.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 200;
  text-align: left;
  padding: 7px 0 0 0;
  margin: 2px 0 0 0;
}


.form-section{
    display: flex;             
    flex-direction: column;   
    align-items: center;       
    padding: 2px 10px;
}
.form-section h2{
  padding: 0 0 10px 0;
  text-align: center !important;
}

.form-section #userForm{
  width : 450px;
  padding: 30px 40px ;
  background: transparent;
  border: 2px solid rgba(148, 92, 92, 0.2);
  border-radius: 10px;
}

.form-section #FAQForm{
  width : 700px;
  padding: 30px 30px ;
  background: transparent;
  border: 2px solid rgba(148, 92, 92, 0.2);
  border-radius: 10px;
}



/* Input and Textarea form controls */
.form-control {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-divison{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 20px;
}

  .table_lists{
    padding: 5%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .row{
    padding: 5px 0 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  table{
    width: 100%;
    max-width: 1600px; 
    background: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
  }
  table td, th{
    padding: 5px 18px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    border: none;
  }
  table th{
    background-color: #0066cc;
    color: #fff;
    font-size: 15px;
  }
  table td{
    font-size: 13px;
    color: rgb(100, 100, 100);
  }
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  table td.wrap-text {
    white-space: normal; 
    overflow: visible; 
}

table td.wrap-faq{
  white-space: normal; 
  overflow: visible; 
  /*width: 300px;*/ 
}

/*Button styles*/
  button {
    padding: 8px 12px ;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #0047AB;
    color: white;
}

.reset-btn{
  background-color: #f44336; 
  color: white; 
}

.edit-btn:hover {
    background-color: #0E3386; 
}

.delete-btn {
    background-color: #f44336; 
    color: white; 
}

.delete-btn:hover {
    background-color: #f05d5b; 
}

.faq-btn{
  padding: 8px 12px ;
  margin: 10px;
  font-size: 14px;
  background-color: #0047AB;
  color: white;
}

.reset-faq-btn{
  background-color: #f44336; 
  color: white; 
  padding: 8px 12px ;
  margin: 10px;
}

.button-align{
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
  padding: 2px 0 0 0!important;
}

  


/* Mobile view*/
@media (max-width: 768px) {
  .welcome-block {
      text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-faq-form {
      flex-wrap: wrap; /* Stack forms on smaller screens */
  }

  .form-section {
      width: 100%; /* Full width on small screens */
      margin-bottom: 20px; /* Add some space between the forms when stacked */
  }
}
